/* MARK: Hero */

div#hero {
  margin-top: 14px;
  height: 300px;
}

h2#heroTitle {
  margin: auto 0 8px 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 30pt;

  text-shadow: 0px 1px 15px black;
  color: white;
}
h2#heroTitle strong {
  font-weight: 600;
}

p#heroDetail {
  margin: 0;
  padding: 0;

  font-size: 16pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.4;

  text-shadow: 0px 1px 15px black;
  color: white;
}
p#heroDetail strong {
  font-weight: 400;
}

/* MARK: Non-hero front-page content */

div.frontPageContent {
  padding: 20px 0px;
}

/* MARK: Types of card containers */

div.cardContainer {
  width: 100%;
}

div.cardContainer:not(:first-child) {
  margin-top: 20px;
}

div.fullWidthCardContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

div.cardRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

div.cardRow div.aboutMeCard:not(:first-child) {
  margin-left: 20px;
}

/* MARK: Cards */

.aboutMeCard {
  flex: 1 0 0;
  /* margin: 5px 5px; */
  display: inline-block;
}

img.aboutMeBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}

div.aboutMeCardContent {
  display: flex;
  height: 100%;
  align-content: stretch;
  z-index: 1;
}

div.bottomCaptionedContent {
  flex-flow: column nowrap;
}

div.sideCaptionedContent {
  flex-flow: row nowrap;
  max-height: 375px;
}

div.textOnlyContent {
  background-color: #E6E6E2;
  flex-direction: column;
  height: calc(100% - 20px);
  padding: 10px;
}

div.otherLinkContent {
  height: 350px;
}

div.horizontallyCenteredContent {
  align-items: center;
}

div.verticallyCenteredContent {
  justify-content: center;
}

img.captionedImage {
  z-index: 1;

  object-fit: cover;

  width: 100%;
  min-width: 0px;
  min-height: 0px;
}

img.bottomCaptionedImage {
  flex: 1 1 auto;
}

img.sideCaptionedImage {
  flex: 0 1 auto;
}

div.caption {
  flex: 0 1 auto;
  padding: 10px;

  /* Adds the white blur effect */
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

div.caption p {
  margin: 0;
  padding: 0;

  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.4;

  color: var(--labelColor);
}

div.sideCaption {
  max-width: 250px;
}

div.bottomCaption {
}

div.caption p strong {
  font-weight: 400;
}

div.caption h6 {
  margin: 0px;
  padding: 0px;

  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--secondaryLabelColor);
}

div.textOnlyContent h2 {
  margin: 0px;
  padding: 0px;

  font-size: 13pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--labelColor);

  text-align: center;
}

div.textOnlyContent h3 {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;

  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--secondaryLabelColor);
}

img#downloadResumeIcon {
  width: 40px;
  heigth: auto;
}

div.textOnlyContent img {
  margin: 0;
  margin-top: 10px;
  padding: 0px;
}

div.textOnlyContent p {
  margin: 0px;
  padding: 0px;

  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.4;

  color: var(--labelColor);
}

div.textOnlyContent strong {
  font-weight: 400;
}

div.textOnlyContent li {
  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.4;

  color: var(--labelColor);
}

div.textOnlyContent li:not(:first-child) {
  margin-top: 10px;
}

img.otherLinkImage {
  object-fit: cover;

  width: 100%;
  height: 100%;

  z-index: 1;
}

div.darkTextBackground {
  position: absolute;
  top: 0px;
  left: 0px;

  background-image: url("Images/Dark-Text-Background.png");

  width: 100%;
  height: 100%;

  z-index: 2;
}

div.otherLinkText {
  position: absolute;

  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;

  color: white;

  z-index: 3;
}

div.otherLinkText h2 {
  margin: 0;
  margin-right: 8px;
  padding: 0;

  font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 18pt;
  text-shadow: 0px 1px 15px black;
}

div.otherLinkText p {
  margin: 0;
  margin-top: 4px;
  padding: 0;

  font-size: 12pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.4;

  text-shadow: 0px 1px 15px black;
}

div.otherLinkTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

div.otherLinkTitle img {
  position: relative;
  top: 1px;

  width: 10px;
  height: 20px;
}

p#email {
  margin: 10px 0px;
}

.centered {
  text-align: center;
}

ul {
  padding-left: 25px;
}

@media only screen and (max-width: 650px) {
  h2#heroTitle {
  	font-size: 20pt;
  }
  p#heroDetail {
    font-size: 14pt;
  }

  div.cardRow div.aboutMeCard {
    flex-basis: 100%;
  }

  div.cardRow div.aboutMeCard:not(:first-child) {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 350px) {
  h2#heroTitle {
  	font-size: 17pt;
  }
  p#heroDetail {
    font-size: 12pt;
  }
}

@media (prefers-color-scheme: dark) {
  /* Captions for cards */
  div.caption {
    /* Dark blur effect */
    background-color: rgba(40, 40, 40, 0.7);
    -webkit-backdrop-filter: blur(10px);
  }

  div.textOnlyContent {
    background-color: #464642;
  }
}
