div#hero {
	height: 700px;
	width: 100%;
	
	position: relative;
	
	background-image: url("hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	z-index: 450;
}
img#heroTextBackground {
	height: 100%;
	width: 100%;
}
h1#heroTitle {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 45px;
	
	text-shadow: 0px 1px 15px black;
	
	margin-bottom: 8px;
					
	color: white;
}
h1#heroTitle strong {
	font-weight: 600;
}
h2#heroDetail {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 25px;
	
	line-height: 1.4;
	text-shadow: 0px 1px 15px black;
	
	margin-top: 0px;
	
	color: white;
}
h2#heroDetail strong {
	font-weight: 400;
}
div#heroContent {
	height: 100%;
	max-width: 960px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
div#heroText {
	display: inline-block;
	position: absolute;
	bottom: 0px;
}

div#bulletFacts {
	position: relative;
}

div#bulletFactsContent {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

ul#bulletFacts {
	margin: 50px 0px auto 0px;
}

ul#bulletFacts li {
	font-family: "Montserrat", sans-serif;
	font-size: 12pt;
	font-weight: 300;
	margin: 0 0 8px 0;
}

ul#bulletFacts li span {
	font-size: 16pt;
	line-height: 1.6;
}

ul#bulletFacts li span strong {
	font-weight: 400;
}

div#downloadResume {
	width: 210px;
	height: 110px;
	margin: 40px auto 30px auto;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #007AFF;
	
	padding-top: 20px;
	
	-webkit-transition: background-color 0.15s;
}
img#downloadResumeIcon {
	display: block;
	margin: auto auto auto auto;
	width: 38px;
	height: 50px;
}
h3#downloadResumeText {
	display: block;
	margin: auto auto auto auto;
	
	font-family: "Montserrat", sans-serif;
	font-size: 14pt;
	text-align: center;
	color: #007AFF;
	font-weight: 300;
	
	padding-top: 12px;
	
	-webkit-transition: color 0.15s;
}

a#downloadResumeLink {
	width: 200px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	
	display: block;
	
	text-decoration: none;
}

a#downloadResumeLink:hover div {
	background-color: #DDDDDD;
	border-color: #666666;
	-webkit-transition: background-color 0.15s, border-color 0.15s;
}
a#downloadResumeLink:active div {
	background-color: #007AFF;
	border-color: #007AFF;
	-webkit-transition: background-color 0.15s, border-color 0.15s;
}
a#downloadResumeLink:hover img {
	content: url("save_icon_highlighted.svg");
	-webkit-transition: content 0.15s;
}
a#downloadResumeLink:active img {
	content: url("save_icon_selected.svg");
	-webkit-transition: content 0.15s;
}
a#downloadResumeLink:visited h3 {
	color: #007AFF;
}
a#downloadResumeLink:hover h3 {
	color: #666666;
	-webkit-transition: color 0.15s;
}
a#downloadResumeLink:active h3 {
	color: white;
	-webkit-transition: color 0.15s;
}

div#links {
	width: 100%;
	height: 500px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	
	padding-bottom: 100px;
}

div#linksContent {
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	justify-content: space-between;
}

div#linksItem {
	width: 45%;
	margin: 50px auto auto auto;
}

img.linkPreview {
	width: 100%;
	height: auto;
	margin-bottom: 13px;
}
h3.linkTitle {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	letter-spacing: 2.5px;
	color: #007AFF;
	text-align: center;
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 13px;
	
	text-decoration: none;
	
	-webkit-transition: color 0.15s;
}
h4.linkDetail {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 12pt;
	margin-top: 10px;
	line-height: 1.6;
}

a.linksItemLink {
	text-decoration: none;
	color: #007AFF;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:hover {
	color: #999999;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:visited {
	color: #007AFF;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:active {
	color: #666666;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}

@media (max-width: 1600px) {
    div#hero {
	    height: 550px;
    }
}

@media (max-width: 970px) {
	h1#heroTitle {
		margin-left: 20px;
		margin-right: 20px;
	}
	h2#heroDetail {
		margin-left: 20px;
		margin-right: 20px;
	}
	ul#bulletFacts {
		margin-left: 20px;
		margin-right: 20px;
	}
}