div#header {
	background-color: rgba(255, 255, 255, 0.90);
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	-webkit-backdrop-filter: blur(10px);
	z-index: 500;
}

div#headerTitle {
	height: 100%;
	
	background-color: transparent;
	margin-left: 0px;
	
	display: inline-block;
	float: left;
}

div#headerContent {
	max-width: 960px;
	min-width: 750px;
	width: 100%;
	height: 100%;
	
	background-color: transparent;
	
	margin-left: auto;
	margin-right: auto;
	
	display: table;
}

img#titleProfile {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	float: left;
	
	margin-top: 10px;
}

h1#title {
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	margin: 13px 13px auto 13px;
	float: left;
	font-size: 20pt;
}

h2 {
	text-align: center;
}

ul#navigation {
	float: right;
	margin-top: 20px;
}

li#navigation {
    display: inline;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: normal;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0xp 5px;
}

a#navigationTitle {
	text-decoration: none;
	color: black;
	
	-webkit-transition: color 0.2s;
}
a#navigationTitle img {
	opacity: 1.0;
	-webkit-transition: opacity 0.2s;
}
a#navigationTitle:visited {
	text-decoration: none;
	color: black;
}
a#navigationTitle:hover {
	color: #666666;
	-webkit-transition: color 0.2s;
}
a#navigationTitle:hover img {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
}

a#navigationSubtitle {
	text-decoration: none;
	color: black;
	padding: 3px 6px 3px 6px;
	border-radius: 3px;
	
	-webkit-transition: background-color 0.1s, color 0.1s;
}
a#navigationSubtitle:visited {
	color: black;
	border-radius: 3px;
}
a#navigationSubtitle:hover {
	background-color: #DDDDDD;
	color: #666666;
	border-radius: 3px;
	
	-webkit-transition: background-color 0.1s, color 0.1s;
}
a#navigationSubtitle:active {
	background-color: #007AFF;
	color: white;
	border-radius: 3px;
	
	-webkit-transition: background-color 0.1s, color 0.1s;
}

body, html {
	min-width: 750px;
	margin: 0;
	padding: 0;
}

div#hero {
	margin-top: 60px;
	height: 700px;
	width: 100%;
	
	position: relative;
	
	background-image: url("hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	z-index: 450;
}
img#heroTextBackground {
	height: 100%;
	width: 100%;
}
h1#heroTitle {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 45px;
	width: 100%;
	
	margin-bottom: 8px;
					
	color: white;
}
h1#heroTitle strong {
	font-weight: 600;
}
h2#heroDetail {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 25px;
	width: 100%;
	text-align: left;
	
	line-height: 1.4;
	
	margin-top: 0px;
	
	color: white;
}
h2#heroDetail strong {
	font-weight: 400;
}
div#heroContent {
	height: 100%;
	width: 100%;
	max-width: 960px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
div#heroText {
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

div#bulletFacts {
	width: 100%;
	position: relative;
}

div#bulletFactsContent {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

ul#bulletFacts {
	margin: 50px auto;
}

ul#bulletFacts li {
	font-family: "Montserrat", sans-serif;
	font-size: 12pt;
	font-weight: 300;
	margin: 0 0 8px 0;
}

ul#bulletFacts li span {
	font-size: 16pt;
	line-height: 1.6;
}

ul#bulletFacts li span strong {
	font-weight: 400;
}

div#downloadResume {
	width: 210px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #007AFF;
	
	padding-top: 20px;
	
	-webkit-transition: background-color 0.15s;
}
img#downloadResumeIcon {
	display: block;
	margin: auto auto auto auto;
	width: 38px;
	height: 50px;
}
h3#downloadResumeText {
	display: block;
	margin: auto auto auto auto;
	
	font-family: "Montserrat", sans-serif;
	font-size: 14pt;
	text-align: center;
	color: #007AFF;
	font-weight: 300;
	
	padding-top: 12px;
	
	-webkit-transition: color 0.15s;
}

a#downloadResumeLink {
	width: 200px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	
	display: block;
	
	text-decoration: none;
}

a#downloadResumeLink:hover div {
	background-color: #DDDDDD;
	border-color: #666666;
	-webkit-transition: background-color 0.15s, border-color 0.15s;
}
a#downloadResumeLink:active div {
	background-color: #007AFF;
	border-color: #007AFF;
	-webkit-transition: background-color 0.15s, border-color 0.15s;
}
a#downloadResumeLink:hover img {
	content: url("save_icon_highlighted.svg");
	-webkit-transition: content 0.15s;
}
a#downloadResumeLink:active img {
	content: url("save_icon_selected.svg");
	-webkit-transition: content 0.15s;
}
a#downloadResumeLink:visited h3 {
	color: #007AFF;
}
a#downloadResumeLink:hover h3 {
	color: #666666;
	-webkit-transition: color 0.15s;
}
a#downloadResumeLink:active h3 {
	color: white;
	-webkit-transition: color 0.15s;
}

div#otherLinks {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #222222;
}

div#otherLinksContent {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
}

.link {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 0px 4px 0px 4px;
}

div#links {
	width: 100%;
	height: 500px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}

div#linksContent {
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	justify-content: space-between;
}

div#linksItem {
	width: 45%;
	margin: 50px auto auto auto;
}

img.linkPreview {
	width: 100%;
	height: auto;
	margin-bottom: 13px;
}
h3.linkTitle {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	letter-spacing: 2.5px;
	color: #007AFF;
	text-align: center;
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 13px;
	
	text-decoration: none;
	
	-webkit-transition: color 0.15s;
}
h4.linkDetail {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 12pt;
	margin-top: 10px;
	line-height: 1.6;
}

a.linksItemLink {
	text-decoration: none;
	color: #007AFF;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:hover {
	color: #666666;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:visited {
	color: #007AFF;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}
a.linksItemLink h3:active {
	color: #007AFF;
	text-decoration: none;
	-webkit-transition: color 0.15s;
}

@media (max-width: 1600px) {
    div#hero {
	    height: 550px;
    }
}

@media (max-width: 970px) {
    img#titleProfile {
		margin-left: 10px;				
	}
	
	ul#navigation {
		margin-right: 10px;
	}
	
	h1#heroTitle {
		margin-left: 10px;
		margin-right: 10px;
	}
	h2#heroDetail {
		margin-left: 10px;
		margin-right: 10px;
	}
	ul#bulletFacts {
		margin-right: 10px;
	}
}