@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-Thin.ttf") format("truetype");
	font-weight: 100;
}
@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("../Fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

div#header {
	background-color: rgba(255, 255, 255, 0.87);
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	-webkit-backdrop-filter: blur(10px);
	z-index: 500;
}

div#headerTitle {
	height: 100%;

	background-color: transparent;
	margin-left: 0px;

	display: inline-block;
	float: left;
}

div#headerContent {
	max-width: 960px;
	min-width: 750px;
	width: 100%;
	height: 100%;

	background-color: transparent;

	margin-left: auto;
	margin-right: auto;

	display: table;
}

img#titleProfile {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	float: left;

	margin-top: 10px;
}

h1#title {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 13px 13px auto 13px;
	float: left;
	font-size: 20pt;
}

h2 {
	text-align: center;
}

ul#navigation {
	float: right;
	margin-top: 20px;
}

li#navigation {
    display: inline;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 400;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0xp 5px;
}

a#navigationTitle {
	text-decoration: none;
	color: black;

	-webkit-transition: color 0.2s;
}
a#navigationTitle img {
	opacity: 1.0;
	-webkit-transition: opacity 0.2s;
}
a#navigationTitle:visited {
	text-decoration: none;
	color: black;
}
a#navigationTitle:hover {
	color: #666666;
	-webkit-transition: color 0.2s;
}
a#navigationTitle:hover img {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
}

a#navigationSubtitle {
	text-decoration: none;
	color: black;
	padding: 3px 6px 3px 6px;
	border-radius: 3px;

	-webkit-transition: background-color 0.1s, color 0.1s;
}
a#navigationSubtitle:visited {
	color: black;
	border-radius: 3px;
}
a#navigationSubtitle:hover {
	background-color: #DDDDDD;
	color: #666666;
	border-radius: 3px;

	-webkit-transition: background-color 0.1s, color 0.1s;
}
a#navigationSubtitle:active {
	background-color: #007AFF;
	color: white;
	border-radius: 3px;

	-webkit-transition: background-color 0.1s, color 0.1s;
}

a#navigationSubtitleCurrent {
	text-decoration: none;
	color: white;
	padding: 3px 6px 3px 6px;
	border-radius: 3px;

	background-color: #007AFF;
}

body, html {
	min-width: 750px;
	margin: 0;
	padding: 0;
	height: 100%;
}

div#headerDiv {
	height: 60px;
	width: 100%;
}

div#container {
	min-height:100%;
    position:relative;
}

div#photosContainer {
	padding-bottom: 100px;
}

div#photosContent {
	height: 100%;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 50px;
}
div.photoBlock {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
	width: 100%;
	max-width: 960px;
}

div.category {
	width: 100%;
	background-color: #DDDDDD;
	
	margin-left: 0px;
	margin-right: 10px;
	
	border-radius: 4px;
	
	background-size: cover;
	background-repeat: no-repeat;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.categoryHighlight {	
	width: 100%;
	height: 100%;
	
	background-color: transparent;
		
	display: flex;
	align-items: center;
	justify-content: center;
}
a.categoryLink {
	text-decoration: none;
	color: white;
}
a.categoryLink:visited {
	text-decoration: none;
	color: white;
}
a.categoryLink:link div {
	background-color: transparent;
	-webkit-transition: background-color 0.15s;
}
a.categoryLink:visited div {
	background-color: transparent;
	-webkit-transition: background-color 0.15s;
}
a.categoryLink:hover div {
	background-color: rgba(221, 221, 221, 0.4);
	-webkit-transition: background-color 0.15s;
}
a.categoryLink:active div {
	background-color: rgba(221, 221, 221, 0.6);
	-webkit-transition: background-color 0.15s;
}

h2.categoryTitle {
	color: white;
	
	font-family: 'Teko', sans-serif;
	font-size: 45pt;
	letter-spacing: 2px;
	
	text-shadow: 0px 1px 20px black;
}

h1#sectionTitle {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;

	letter-spacing: 4px;
	font-size: 25pt;
	color: #8b8b8b
}

div#otherLinks {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #222222;
}

div#otherLinksContent {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
}

.otherLink {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 0px 4px 0px 4px;
}

@media (max-width: 1600px) {
    div#hero {
	    height: 550px;
    }
}

@media (max-width: 970px) {

	div.categoryLeft {
		margin-left: 20px;
	}
	div.categoryRight {
		margin-right: 20px;
	}

    img#titleProfile {
		margin-left: 10px;
	}

	ul#navigation {
		margin-right: 10px;
	}

	h1#heroTitle {
		margin-left: 10px;
		margin-right: 10px;
	}
	h2#heroDetail {
		margin-left: 10px;
		margin-right: 10px;
	}
	ul#bulletFacts {
		margin-right: 10px;
	}
}

/*
@media (max-width: 800px) {
	div.categoryRow {
		display: initial;
		align-items: initial;
	}
	
	div.categoryLeft {
		background-color: #DDDDDD;
		
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	div.categoryRight {
		background-color: #DDDDDD;
		
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
*/